models/*
outputs/*
__pycache__/*
__pycache__/

*.keras
*.pkl
*.npz
*.ipynb


!models/.gitkeep

!outputs/cm/train/.gitkeep
!outputs/cm/val/.gitkeep
!outputs/cm/test/.gitkeep

!outputs/curves/.gitkeep

!outputs/pr/train/.gitkeep
!outputs/pr/val/.gitkeep
!outputs/pr/test/.gitkeep

!outputs/preds/train/.gitkeep
!outputs/preds/val/.gitkeep
!outputs/preds/test/.gitkeep
